<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard}">
<head>
    <title>Client Configuration</title>
</head>
<body>
<main layout:fragment="content">
    <h2>Management Clients</h2>

    <!--modal popup if success -->
    <div th:if="${successMessage}" id="successMessage" class="modal-overlay">
        <div class="modal-content">
            <p th:text="${successMessage}"></p>
            <button type="button">Close</button>
        </div>
    </div>

    <!--modal popup if failed -->
    <div th:if="${errorMessage}" id="errorModal" class="modal-overlay">
        <div class="modal-content" style="border-left: 6px solid #e74c3c;">
            <p th:text="${errorMessage}" style="color: #e74c3c;"></p>
            <button type="button">Close</button>
        </div>
    </div>

    <!--form clients-->
    <form method="post" class="form-box" th:action="@{/save-client}" th:object="${client}">
        <div class="form-group">
            <label for="primaryIdClient">ID</label>
            <input type="text" id="primaryIdClient" th:field="*{id}" class="form-control" readonly placeholder="Enter ID"/>
        </div>
        <div class="form-group">
            <label for="clientId">Client ID</label>
            <input type="text" id="clientId" th:field="*{clientId}" class="form-control" placeholder="Enter Client ID"/>
        </div>
        <div class="form-group">
            <label for="clientSecret">Client Secret</label>
            <input type="text" id="clientSecret" th:field="*{clientSecret}" class="form-control" placeholder="Enter Client Secret"/>
        </div>
        <div class="form-group">
            <label for="scopes">Scopes (Comma separated)</label>
            <input type="text" id="scopes" th:field="*{scopes}" class="form-control" placeholder="Enter Scopes"/>
        </div>
        <div class="form-group">
            <label for="accessTokenHours">Access Token Hours</label>
            <input type="number" id="accessTokenHours" th:field="*{accessTokenHours}" class="form-control" placeholder="Enter expires access token hours"/>
        </div>
        <div class="form-group">
            <label for="refreshTokenDays">Refresh Token</label>
            <input type="number" id="refreshTokenDays" th:field="*{refreshTokenDays}" class="form-control" placeholder="Enter expires refresh token"/>
        </div>
        <div class="form-group">
            <label for="redirectUri">Redirect URL</label>
            <input type="text" id="redirectUri" th:field="*{redirectUri}" class="form-control" placeholder="Enter Redirect URL"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    <!--table clients-->
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th style="white-space: nowrap;">ID</th>
                    <th style="white-space: nowrap;">Client ID</th>
                    <th style="white-space: nowrap;">Client Secret</th>
                    <th style="white-space: nowrap;">Scopes</th>
                    <th style="white-space: nowrap;">Redirect Url</th>
                    <th style="white-space: nowrap;">Access Token (Hours)</th>
                    <th style="white-space: nowrap;">Refresh Token (Days)</th>
                    <th style="white-space: nowrap;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="clientBinding : ${clients}">
                    <td style="white-space: nowrap;" th:text="${clientBinding.id}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.clientId}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.clientSecret}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.scope}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.redirectUri}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.accessTokenHours}"></td>
                    <td style="white-space: nowrap;" th:text="${clientBinding.refreshTokenDays}"></td>
                    <td style="white-space: nowrap;">
                        <button type="button"
                                th:attr="
                                data-primaryIdClient=${clientBinding.id},
                                data-clientId=${clientBinding.clientId},
                                data-clientSecret=${clientBinding.clientSecret},
                                data-scopes=${clientBinding.scope},
                                data-redirectUri=${clientBinding.redirectUri},
                                data-accessTokenHours=${clientBinding.accessTokenHours},
                                data-refreshTokenDays=${clientBinding.refreshTokenDays}"
                                class="btn btn-primary edit-button-client">Edit</button>
                        <button type="button"
                                th:attr="data-primaryIdClient=${clientBinding.id}"
                                class="btn btn-primary delete-button-client">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>